oikos-staging.tech {
    handle /api/* {
        reverse_proxy api:8080
    }
    handle /swagger-ui* {
        reverse_proxy api:8080
    }
    handle /v3/api-docs* {
        reverse_proxy api:8080
    }
    handle {
        reverse_proxy web:80
    }
}
